

    .footer {
        background-color: rgb(20 16 13);
        padding: 32px 0px;
        bottom: 0px;
        position: relative;
        border-top: 5px dotted #ffc107c7;
    }








em{
        color: #ffc107c7;

        font-weight: bolder;
        font-size: 22px;
        text-align: center;
    
}
@media(max-width:400px){
.footer{
    padding:32px 
}
}